@charset "UTF-8";
.bgPink {
  background-color: #ffecf3; }
  .bgPink .tituloPaginaPrincipal {
    color: #f1a3bd;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: block; }
  .bgPink .headerHsYFineline {
    width: 100%; }

.bgBlue {
  background-color: cadetblue; }
  .bgBlue .tituloPeliculas {
    color: #3a3a81;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: block; }

.bgCeleste {
  background-color: lightskyblue; }
  .bgCeleste .tituloOneDirection {
    color: red;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center; }

.bgYellow {
  background-color: #f3f2a7; }
  .bgYellow .tituloFineLine {
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center; }
  .bgYellow .headerHsYFineline {
    width: 100%; }

.bgBrown {
  background-color: burlywood; }
  .bgBrown .tituloLiveOnTour {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center; }

.bgGreen {
  background-color: lightsteelblue; }
  .bgGreen .tituloCampañas {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center; }

.bgLightBlue {
  background-color: #a2d8c6;}

.bgLoveOnTour {
  background-color: #c7afff; }
  .bgLoveOnTour .tituloLoveOnTour {
    color: #4400ff;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: block; }

.navegation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Scheherazade New', serif; }

.navegation li {
  padding: 0 10px;
  font-family: 'Scheherazade New', serif; }

.navegation a {
  text-decoration: none;
  color: #f1a3bd;
  font-size: 1,2rem;
  font-family: 'Scheherazade New', serif; }

.inline {
  display: inline-block;
  padding-right: 10px;
  border: 3px white;
  font-size: 19px;
  font-style: oblique; }

.center {
  text-align: center; }

.inlineDos {
  display: inline-block;
  padding-right: 10px;
  width: 70%;
  vertical-align: top;
  border: 3px white;
  font-size: 19px;
  font-style: italic; }

.inlineDos p {
  padding-top: 0;
  margin-top: 0; }

  /*section grid*/ 
  .bgLightBlue .grid {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "uno dos tres cuatro"
 "cinco seis siete ocho"
 "nueve diez once doce"; }
  .bgLightBlue .box {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bgLightBlue .imagenUno {
    grid-area: uno;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenDos {
    grid-area: dos;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenTres {
    grid-area: tres;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenCuatro {
    grid-area: cuatro;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenCinco {
    grid-area: cinco;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenSeis {
    grid-area: seis;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenSiete {
    grid-area: siete;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenOcho {
    grid-area: ocho;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenNueve {
    grid-area: nueve;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenDiez {
    grid-area: diez;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenOnce {
    grid-area: once;
    padding-right: 10px;
    background-color: lightseagreen; }
  .bgLightBlue .imagenDoce {
    grid-area: doce;
    padding-right: 10px;
    background-color: lightseagreen; }
  
.img {
  justify-content: center; }

.fonts {
  font-size: 19px;
  font-style: oblique; }

.item img:hover {
  opacity: 1;
  border: solid 2px blue;
  transition: 0,5s; }

.item:hover {
  transform: rotate(5deg); }

.redsocial, .redsocial--nueva {
  border: 1px #f00;
  background-color: #fdd; }

.redsocial--nueva {
  border-width: 3px; }

footer {
  background-color: none;
  width: 100%;
  height: 100px;
  padding: 50px 0 0 0; }

footer h5 {
  font-size: 2rem;
  font-weight: 900;
  text-align: left; }
